.menu{
    list-style: none;
    position: fixed;
    right: 20;
    z-index: 999;
}
.item{
    float: left;
    padding: 10px;

}
.item:hover{
    background-color: blanchedalmond;
    font-size: 20px;
    font-family: monospace;
}
a:hover{
    color:darkred;
}
body{
    background-color: azure;
}
